
input[type="checkbox"]{
   -webkit-appearance: initial;
   appearance: initial;
   background::rgb(175, 174, 174);
   width: 10px;
   height: 12px;
   border: none;
   background:rgb(175, 174, 174);
   position: relative;
}
input[type="checkbox"]:checked {
   background: green;
}
 
 h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
  
    
 }
 h2{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    

 }